<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="theme-color" content="#1E93A6">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/lei-md.css">
    <link rel="stylesheet" href="css/highlight/styles/monokai-sublime.min.css">
    <link rel="stylesheet" href="css/autocjs/css/autoc.css">
    <script src="js/Parser.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="css/highlight/highlight.min.js"></script>
    <script src="css/autocjs/autoc.js"></script>
    <title>Markdown在线解析</title>
</head>

<body>
    <div id="app">
        <!-- 使用说明 -->
        <transition name="fade">
            <div id="about" @click.self="about = !about" v-if="about">
                <div class="aboutInfo">
                    <h3>Markdown解析 - 使用说明</h3>
                    <div class="aboutContent">
                        在地址后传入参数
                        <span>index.html?url=md文件地址</span>
                        即可,<br>
                        如<br>
                        <span>index.html?url=http://www.aaa.com/abc.md</span>
                        <br>
                        也可嵌入iframe使用
                    </div>
                </div>
            </div>
        </transition>


        <!-- 头部 -->
        <div id="header" class="header">{{title}}</div>

        <!-- 加载动画 -->
        <div class="content">
            <div class="load" v-if="load"><img src="img/load.svg" alt="Loading">
                <p>{{loadtip}}</p>
            </div>

            <!-- 文章内容 -->
            <article class="lei-md lei-md-auto-fix">
                <p id="mainContent" v-if="!load" v-html="htmlText"></p>
            </article>
        </div>

        <!-- 脚部 -->
        <div id="footer" class="footer">Copyright ©2020 Powered by <a href="https://www.fcwys.cc/">风吹我已散</a></div>

        <!-- 返回顶部或底部 -->
        <a id="toTop" href="#header"><img src="img/top.png"></a>
        <a id="aboutBtn" @click="about = !about"><img src="img/about.png"></a>
        <a id="toBottom" href="#footer"><img src="img/top.png"></a>

    </div>
    <script src="js/index.js"></script>
</body>

</html>